.card-img-top {
  border-radius: 30px;
  padding: 10px;
}

.card {
  margin: 0;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.small-text {
  font-size: 0.95rem;
}

.petSpa-label {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #ffe6b3;
  /* Light peach color */
  color: #c98f4d;
  /* Dark orange text color */

  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  font-weight: bold;
}

.petHotel-label {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #cde7e7;
  /* Light bluish color */
  color: #205969;
  /* Dark blue text color */
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  font-weight: bold;
}

.petHospital-label {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #f2c1b7;
  /* Light salmon color */
  color: #7f5d39;
  /* Dark brown text color */
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  font-weight: bold;
}

.Dessert-label {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #f8d7da;
  color: #721c24;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  font-weight: bold;
}

.Snacks-label {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #a4c2f4;
  /* Light sky blue color */
  color: #394d84;
  /* Dark royal blue text color */
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  font-weight: bold;
}

.Vegan-label {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #a2d98a;
  /* Light mint color */
  color: #4b894a;
  /* Dark forest green text color */
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  font-weight: bold;
}
