ul.navbar-nav {
  list-style: none;
  padding: 0;
  text-align: center;
  /* Ensure the text is centered */
}

ul.navbar-nav li {
  display: inline-block;
  position: relative;
}

ul.navbar-nav li a {
  letter-spacing: 0.1em;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
  /* Ensure inline block for accurate width calculation */
}

ul.navbar-nav li a::before {
  content: "";
  position: absolute;
  bottom: -1px;
  width: 0;
  height: 2px;
  background: #333;
  transition: width 0.5s ease-in-out;
}

ul.navbar-nav li a:hover::before {
  width: 100%;
  left: 0;
  /* Position the underline to start from the left */
}

.search {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  z-index: 10;
  cursor: pointer;
}

.search-box {
  position: absolute;
  right: -100%;
  width: 100%;
  height: 100%;
  display: flex;
  background: #fff;
  align-items: center;
  padding: 0 30px;
  transition: 0.5s ease-in-out;
}

.search-box.active {
  right: 0;
}

.search-box input {
  width: 100%;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid #000000;
  outline: none;
  height: 65px;
  color: #333;
  background: #fff;
}

.search-box input:focus {
  border-bottom-color: #333;
}
.searchBtn {
  position: relative;
  left: 30px;
  top: 2.5px;
  transition: 0.5s ease-in-out;
  visibility: visible;
}

.searchBtn.active {
  opacity: 0;
  visibility: hidden;
}

.closeBtn {
  opacity: 0;
  visibility: hidden;
  transition: 0.5s ease-in-out;
  scale: 0;
}

.closeBtn.active {
  opacity: 1;
  visibility: visible;
  transition: 0.5s ease-in-out;
  scale: 1;
}

.searchIcon {
  cursor: pointer;
}
