section {
  padding: 2rem 9%;
}

section:nth-child(even) {
  background: #eee;
}

.slide {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content {
  width: 40%;
  align-items: center;
}

.image {
  width: 50%;
}

.image img {
  width: 100%;
  height: auto;
}
